@import 'reset';
@import '~include-media/dist/include-media';

:root {
    // General colors
    --main-color: #F2B5BD;
    --main-color-d1: #aa8086;
    --secondary-color: #1a759f;
    --loading-element-color: #eee;
    --shadow-color: rgba(26, 117, 159, 0.15);
    --background-color: #fff7f9;
    --inactive-color: #D8D7D1;
    --body-text-color: #865c6c;
    --heading-text-color: #20314F;

    // Border related
    --border-color: #20314F;
    --border-width: 2px;
    --border-radius: 3px;

    // Status
    --success-color: #358f80;
    --success-light-color: #88d4ab;

    // Spacing
    --space-2xs: 2px;
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 20px;

    // Padding
    --padding-xs: 5px;
    --padding-sm: 10px;
    --padding-md: 15px;
    --padding-lg: 20px;

    // Links
    --content-link-color: #184e77;
    --content-link-color-hover: #003335;
    --content-link-color-visited: #1b4332;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--content-link-color);
    text-decoration: none;

    &:visited {
        color: var(--content-link-color-visited);
    }

    &:hover {
        color: var(--content-link-color-hover);
    }
}

h1 {
    font-size: 3rem;
    color: var(--heading-text-color);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    color: rgb(58, 58, 58);

    &.big {
        font-size: 1.25rem;
    }
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

.btn {
    border: none;
    background-color: #fff;
    border: var(--border-width) solid var(--border-color);
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    padding: var(--padding-xs) var(--padding-md);
    transition: .25s;

    &:hover {
        background-color: var(--secondary-color);
        box-shadow: 7px 7px 0 var(--shadow-color);
        color: #fff;
    }
}

.no-btn {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background: transparent;
}

body {
    background-color: var(--background-color);
    background-image: url('../Patterns/memphis-mini.png');
    font-family: 'Source Serif 4', sans-serif;
    color: var(--body-text-color);
    background-attachment: fixed;

}

body {
    min-height: 100vh;
}

.main-content {
    @include media(">desktop") {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1024px) minmax(0, 1fr);
        gap: var(--padding-lg);
        grid-template-areas: "sidebar-1 main sidebar-2";
        padding: 0 1rem;
    }

    .main {
        grid-area: main;
    }

    .sidebar-1 {
        grid-area: sidebar-1;
    }

    .sidebar-2 {
        grid-area: sidebar-2;
    }

    .sidebar-1,
    .sidebar-2 {
        display: none;

        @include media(">=desktop") {
            display: block;
        }

        h3 {
            margin-bottom: var(--space-sm);
        }

        &__inner {
            position: sticky;
            top: calc(60px + var(--padding-lg));
            display: flex;
            gap: var(--space-lg);
            align-items: flex-end;
            flex-direction: column;
        }

        section {
            background-color: #fff;
            padding: var(--padding-lg);
            border: var(--border-width) solid var(--border-color);
            max-width: 350px;
            width: 100%;
        }
    }

    &__grid {
        display: grid;
        gap: var(--space-lg);
        padding: var(--padding-lg);

        @include media(">=desktop") {
            padding: var(--padding-lg) 0;
        }
    }
}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes ellipsis {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}

@keyframes floating {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}