@import "../../themeStyles/main";

$img-radius:10px 10px;

.single-recipe {
    display: flex;
    flex-direction: column;
    transition: .3s all;
    background-color: var(--white);
    position: relative;
    height: 100%;
    z-index: 1;
    border-radius: var(--radius-md);

    &__desc {
        color: var(--body-text-color);
        font-size: .85rem;
        margin: 0;
    }

    &__title {
        font-size: 1.1rem;
        font-weight: 500;
    }

    &__dish-types {
        display: flex;
        flex-wrap: wrap;
        gap: var(--space-xs);
        margin-bottom: 3px;
    }

    &__share {
        background: white;
        display: flex;
        align-items: center;
        position: absolute;
        transition: .35s;
        z-index: 1;
        border: var(--border-width) solid var(--border-color);
        gap: var(--space-xs);
        top: var(--space-sm);
        right: var(--space-sm);
        padding: 10px;
        border-radius: 20px;

        @include media(">=desktop") {
            flex-direction: column;
            padding: 8px 0;
            width: 30px;

            // Animated values
            left: -20px;
            opacity: 0;

            i {
                font-size: 18px;
            }
        }
    }

    &__img-container {
        position: relative;
        border-radius: $img-radius 0 50px;
    }

    &__arrow {
        color: rgba(0, 0, 0, 0.2);
        transition: .3s;
        text-align: right;
        font-size: 22px;
        margin-top: auto;
    }

    &__health-score {
        font-size: 30px;
        color: var(--success-color);
        background: var(--success-light-color);
        position: absolute;
        z-index: 1;
        top: 10px;
        left: 10px;
        padding: 4px;
        border-radius: 50%;
        border: var(--border-width) solid var(--success-color);
        transform: rotate(15deg);

        @include media(">=desktop") {
            right: 10px;
            left: unset;
        }
    }

    &__img {
        border-radius: $img-radius 0 0;
        transition: .35s all;
        position: relative;
        height: 200px;
        opacity: 0.9;
    }

    &__info {
        padding: var(--padding-lg) var(--padding-md) var(--padding-sm);
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: var(--space-xs);
    }
}

.single-recipe-container {
    height: 100%;

    &.loading {
        $single_selector: single-recipe;
        pointer-events: none;

        .#{$single_selector}__img-container {
            @extend %element-loading;
            overflow: hidden;
            height: 200px;
            border-radius: $img-radius 0 50px;
            border-bottom: var(--border-width) solid var(--border-color);
        }

        .#{$single_selector}__title {
            background: var(--loading-element-color);
            border-radius: 4px;
            width: 70%;
            height: 18px;
        }

        .#{$single_selector}__desc {
            @extend %element-loading;
            width: 100%;
            height: 75px;
        }

        .#{$single_selector}__dish-type {
            background: var(--loading-element-color);
            width: 15%;
            height: 14px;
            border-radius: 10px;
        }

        .#{$single_selector}__arrow {
            color: var(--loading-element-color);
        }
    }

    @include media(">=desktop") {
        &:hover .single-recipe {
            transform: translate(0, -10px);
            box-shadow: 0 10px 25px 0 var(--shadow-color);

            .single-recipe__share {
                left: -5px;
                box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
                opacity: 1;
            }

            .single-recipe__img {
                opacity: 1;
                border-bottom-left-radius: 65px;
            }

            .single-recipe__arrow {
                color: var(--content-link-color);
            }
        }
    }
}