@import "../../themeStyles/main";

.btn {
    border: none;
    background-color: #000;
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    padding: var(--padding-sm) var(--padding-md);
    transition: .25s;
    line-height: 1rem;
    border-radius: 25px;
    font-weight: 500;
    color: #fff;

    &.btn--primary {
        background-color: var(--secondary-color);
        color: var(--white);

        &:hover {
            background-color: var(--secondary-color-d1);
        }
    }

    &:hover {
        background-color: var(--secondary-color);
        color: var(--white);
    }

    &.btn--shadow {
        &:hover {
            box-shadow: 0 0 10px var(--shadow-color);
        }
    }
}