@import "../../themeStyles/main";

.ingredients-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--space-md);

    @include media(">=tablet") {
        grid-template-columns: repeat(3, 1fr);
    }

    @include media(">=desktop") {
        grid-template-columns: repeat(4, 1fr);
    }

    h2 {
        grid-column: span 4;
    }
}