$css4: false;

$variables: ( // General colors
    --main-color: #ba839b,
    --main-color-d1: #aa8086,
    --secondary-color: #ba839b,
    --secondary-color-d1: #6b3e52,
    --loading-element-color: #eee,
    --shadow-color: rgba(0, 0, 0, 0.1),
    --background-color: #fdf9f9,
    --inactive-color: #D8D7D1,
    --body-text-color: #865c6c,
    --heading-text-color: #292929,
    --white:#FFF,

    // Badge
    --badge-bg:#d9c0c8,
    --badge-color:#6b3e52,
    --badge-odd-bg:#ffe380,
    --badge-odd-color:#6e5d1c,

    // Border radius
    --radius-sm:8px,
    --radius-md:15px,
    --radius-lg: 25px,

    // Navbar
    --navbar-height:60px,
    --active-nav-link:#ffe2ed,

    // Hero section
    --hero-section-bg:#ffe2ec,

    // Border related
    --border-color: #e9ecef,
    --border-width: 0,
    --border-radius: 3px,

    // Status
    --success-color: #358f80,
    --success-light-color: #88d4ab,
    --danger-color:#dd2d4a,
    --danger-light-color:#ff477e,
    --danger-dark-color:#641220,
    --danger-shadow-color: rgba(255, 71, 126, 0.15),

    // Links
    --content-link-color: #000,
    --content-link-color-hover: #003335,
    --content-link-color-visited: #1b4332,

    // Spacing
    --space-2xs: 2px,
    --space-xs: 5px,
    --space-sm: 10px,
    --space-md: 15px,
    --space-lg: 20px,

    // Padding
    --padding-2xs: 2px,
    --padding-xs: 5px,
    --padding-sm: 10px,
    --padding-md: 15px,
    --padding-lg: 20px,
);