@import 'reset';
@import 'include-media';

:root {
    --main-color: #F2B5BD;
    --main-color-d1: #aa8086;
    --secondary-color: #7FC8A7;
    --loading-element-color: #eee;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --background-color: #fff7f9;
    --inactive-color: #D8D7D1;
    --body-text-color: #865c6c;
    --heading-text-color: #20314F;

    // Border related
    --border-color: #20314F;
    --border-width: 2px;
    --border-radius: 3px;

    // Status
    --success-color: #358f80;
    --success-light-color: #88d4ab;

    --space-2xs: 2px;
    --space-xs: 5px;
    --space-sm: 10px;
    --space-md: 15px;
    --space-lg: 20px;

    --padding-xs: 5px;
    --padding-sm: 10px;
    --padding-md: 15px;
    --padding-lg: 20px;
}

* {
    box-sizing: border-box;
}

a {
    color: var(--heading-text-color);
    text-decoration: none;
}

h1 {
    font-size: 3rem;
    color: var(--heading-text-color);
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-size: 1rem;
    color: rgb(58, 58, 58);

    &.big {
        font-size: 1.25rem;
    }
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}

%element-loading {
    background: var(--loading-element-color);
    background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
    background-size: 200% 100%;
    animation: 1.5s shine linear infinite;
}

.btn {
    border: none;
    background-color: #fff;
    border: var(--border-width) solid var(--border-color);
    font-family: inherit;
    cursor: pointer;
    font-size: 1rem;
    padding: var(--padding-xs) var(--padding-md);
    transition: .25s;

    &:hover {
        background-color: var(--secondary-color);
        box-shadow: 7px 7px 0 var(--shadow-color);
    }
}

.no-btn {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
    background: transparent;
}

.loading-screen {
    &.full-screen {
        height: calc(100vh - 100px);
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--space-md);
    animation: floating 2s infinite;

    &__message {
        &::after {
            content: "";
            display: inline-block;
            animation: ellipsis 1.5s infinite;
            width: 1em;
            text-align: left;
            margin-left: var(--space-2xs);
        }
    }
}

.search {
    &__bar {
        position: relative;
        height: 50px;
        display: flex;
        padding: 0 var(--space-md);
        gap: var(--space-md);
        flex-flow: row wrap;
        justify-content: flex-start;
        align-items: center;
        margin-top: var(--space-lg);
        border: var(--border-width) solid var(--border-color);
        transition: .3s;
        background-color: var(--background-color);

        &__label{
            display: none;
        }

        &__input {
            flex: 1;
            height: 100%;
            border: none;
            outline: none;
            font-size: 14px;
            background-color: transparent;
        }

        &__icon {
            pointer-events: none;
            color: var(--border-color);
            font-size: 24px;
            transition: .3s;
        }

        &+div {
            margin-top: var(--space-lg);
        }

        @include media(">=desktop") {

            &:focus-within,
            &.active {
                box-shadow: 0 10px 0 var(--shadow-color);
                transform: translate(0, -10px);
                border-color: var(--border-color);
                background: #fff;

                .search__bar__icon {
                    color: var(--border-color);
                }
            }
        }

    }

    &__loading {
        min-height: 100px;
        flex-direction: column;
        display: flex;
        align-items: center;
        justify-content: center;

        &__message {
            margin-top: var(--space-md);
        }
    }

    &__suggestions {
        display: flex;
        gap: var(--space-sm);
        flex-wrap: wrap;
        margin-bottom: var(--space-lg);
    }

    &__suggestion {
        background: #ffe380;
        cursor: pointer;
        display: inline-block;
        padding: 5px 10px;
        border-radius: 6px;
    }

    &__no-results {
        display: flex;
        flex-direction: column;
        gap: var(--space-lg);

        &__img-wrapper {
            width: 100%;
            height: 175px;
            background: var(--main-color-d1);
            border: 2px solid #000;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
        }

        &__img {
            width: 100%;
            margin-top: 100px;
        }

        &__message {
            display: flex;
            flex: 1;
            padding: 50px;
            flex-direction: column;
            place-content: center;
            gap: 10px;
            background: var(--shadow-color);
        }

        @include media(">=tablet") {
            flex-direction: row;

            &__img {
                margin-top: 0;
            }

            &__img-wrapper {
                width: 30%;
            }
        }
    }
}

.indicator.new {
    background: #4d8bff;
    width: 15px;
    height: 15px;
    position: absolute;
    z-index: 99;
    top: -7px;
    right: -7px;
    border-radius: 15px;
}

body {
    background-color: var(--background-color);
    font-family: 'Source Serif 4', sans-serif;
    color: var(--body-text-color);
}

.main-nav {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
    justify-content: space-between;
    gap: 20px;
    padding: var(--padding-lg);
    border-bottom: var(--border-width) solid var(--border-color);
    height: 60px;

    &__m-expand-menu {
        display: block;
        width: 25px;
    }

    &__links-container {
        // Mobile only:
        position: fixed;
        margin-left: 100vw;
        inset: 0 0 0 30%;

        gap: 4px;
        display: grid;
        transition: .25s;


        &.open {
            margin: 0;
        }
    }

    &__links {
        gap: var(--padding-sm);
        background: #fff;
        border-left: var(--border-width) solid var(--border-color);
        padding: 20px;
        height: 100vh;
    }

    &__links__overlay {
        transition: .25s background-color;
        position: fixed;
        inset: 0;
        z-index: -1;
        margin: 100vw;
    }

    .open &__links__overlay {
        background-color: rgba(0, 0, 0, .25);
        margin: 0;
    }
}

body {
    min-height: 100vh;
}

.main-content {
    @include media(">desktop") {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1024px) minmax(0, 1fr);
        gap: var(--padding-lg);
        grid-template-areas: "sidebar-1 main sidebar-2";
        padding: 0 1rem;
    }

    .main {
        grid-area: main;
    }

    .sidebar-1 {
        grid-area: sidebar-1;
    }

    .sidebar-2 {
        grid-area: sidebar-2;
    }

    .sidebar-1,
    .sidebar-2 {
        display: none;

        @include media(">=desktop") {
            display: block;
        }

        h3 {
            margin-bottom: var(--space-sm);
        }

        &__inner {
            position: sticky;
            top: calc(60px + var(--padding-lg));
            display: flex;
            gap: var(--space-lg);
            align-items: flex-end;
            flex-direction: column;
        }

        section {
            background-color: #fff;
            padding: var(--padding-lg);
            border: var(--border-width) solid var(--border-color);
            max-width: 350px;
            width: 100%;
        }
    }

    &__header {
        min-height: calc(100vh - 60px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: var(--border-width) solid var(--border-color);
        background-color: var(--main-color);
        border-top: 0;


        &__inner {
            gap: var(--padding-lg);
            display: grid;
            padding: var(--padding-lg);

            img {
                max-width: 225px;
            }

            &__text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: var(--space-md);
            }
        }
    }

    &__grid {
        display: grid;
        gap: var(--space-lg);
        padding: var(--padding-lg);

        @include media(">=desktop") {
            padding: var(--padding-lg) 0;
        }
    }
}

.recipes-list {
    position: relative;

    &__title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--space-md);
    }

    &__title-arrow {
        font-size: 1.5rem;
    }

    &__list {
        display: grid;
        gap: var(--space-sm);
    }

    &__single {
        display: block;
        transition: .25s all;
        background-color: #fff;
        position: relative;
        border: var(--border-width) solid var(--border-color);
        height: 100%;
        z-index: 1;

        &__desc {
            color: var(--body-text-color);
            margin: 0;
        }

        &__title {
            font-size: 1.3rem;
            margin-bottom: 5px;
        }

        &__dish-types {
            display: flex;
            flex-wrap: wrap;
            gap: var(--padding-xs);
            margin-top: var(--space-sm);
        }

        &__dish-type {
            background-color: lighten(#FFC700, 25%);
            display: inline-block;
            padding: var(--padding-xs) var(--padding-sm);
            text-transform: capitalize;
            font-size: 14px;
            border-radius: 6px;
        }

        &__share {
            background: white;
            display: flex;
            align-items: center;
            position: absolute;
            transition: .25s;
            z-index: 1;
            border: var(--border-width) solid var(--border-color);
            gap: var(--space-xs);

            // mobile only
            top: -2px;
            right: -2px;
            padding: 10px;
        }


        &__img-container {
            overflow: hidden;
            position: relative;
        }

        &__health-score {
            font-size: 30px;
            width: 42px;
            height: 42px;
            color: var(--success-color);
            background: var(--success-light-color);
            position: absolute;
            z-index: 1;
            top: 10px;
            left: 10px;

            @include media(">=desktop") {
                top: -10px;
                right: -10px;
                left: unset;
            }

            padding: 4px;
            border-radius: 50%;
            border: var(--border-width) solid var(--success-color);
            transform: rotate(15deg);
        }

        &__img {
            height: 200px;
            border-bottom: var(--border-width) solid var(--border-color);
            filter: grayscale(20%) brightness(90%) saturate(119%);
            transition: .25s all;
            position: relative;
        }

        &__info {
            padding: var(--padding-md);
            display: flex;
            flex-direction: column;
            gap: var(--space-xs);
        }

    }



    .recipes-list__single-container.loading {
        $single_selector: recipes-list__single;
        pointer-events: none;

        .#{$single_selector}__img-container {
            @extend %element-loading;
            overflow: hidden;
            height: 200px;
            border-bottom: var(--border-width) solid var(--border-color);

        }

        .#{$single_selector}__title {
            background: var(--loading-element-color);
            width: 70%;
            height: 18px;
        }

        .#{$single_selector}__desc {
            @extend %element-loading;
            width: 100%;
            height: 35px;
        }

        .#{$single_selector}__dish-type {
            background: var(--loading-element-color);
            width: 15%;
            height: 14px;
        }
    }
}


.recipe-details {

    &__featured-img {
        width: 100%;
        display: block;
        height: 250px;
        border: var(--border-width) solid var(--border-color);
        border-top: none;
    }

    &__title {
        margin-bottom: var(--space-sm);
    }

    &__content {
        display: grid;
        gap: var(--space-lg);
        background: #fff;
        padding: var(--space-lg);
        border: var(--border-width) solid var(--border-color);
        border-top: 0;

        .ingredients {
            display: grid;
            grid-template-columns: 1fr;

            @include media(">=tablet") {
                grid-template-columns: repeat(3, 1fr);
            }

            @include media(">=desktop") {
                grid-template-columns: repeat(4, 1fr);
            }

            gap: var(--space-md);

            h2 {
                grid-column: span 4;
            }

            &__item {
                display: grid;
                grid-template-columns: 75px 1fr;
                border: var(--border-width) solid var(--border-color);
                height: 75px;
                box-sizing: content-box;
                background-color: var(--main-color);


                &__info-wrapper {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    padding: 0 var(--space-md);
                }

                &__title {
                    color: var(--heading-text-color);
                    text-transform: capitalize;
                }

                &__amount {
                    font-size: 14px;
                }

                &__img {
                    width: 75px;
                    height: 75px;
                    border-right: var(--border-width) solid var(--border-color);

                    object-fit: contain;
                    background-color: #fff;
                    padding: 10px;
                }
            }

        }


        section {
            h2 {
                margin-bottom: var(--space-md);
            }

            p {
                line-height: 1.35rem;
            }


            li {
                margin-bottom: var(--space-sm);

                &:before {
                    content: "s";
                    position: absolute;
                    top: -8px;
                    left: -34px;
                    z-index: -1;
                }
            }
        }


    }

    &__meta {
        column-gap: var(--space-sm);
        border: var(--border-width) solid var(--border-color);
        border-top: none;
        align-items: center;
        background-position: center;
        background-size: cover;
        padding: 20px;
        position: relative;
        // background-color: var(--main-color);

        &>div {
            position: relative;
        }

        &__dish-types {
            display: flex;
            gap: var(--space-sm);
            margin-top: var(--space-md);
        }

        &__dish-type {
            background-color: var(--main-color-d1);
            padding: var(--space-xs) var(--space-sm);
            border-radius: var(--border-radius);
            text-transform: capitalize;
            color: #fff;
        }
    }
}


//sm
@media (min-width: 640px) {}

//md
@media (min-width: 768px) {

    .main-nav {
        justify-content: flex-start;

        &__links-container {
            // Desktop:
            display: flex;
            position: relative;
            inset: unset;

            gap: var(--padding-sm);
            margin: 0;
        }

        &__links {
            display: flex;
            border: none;
            padding: 0;
            height: unset;
        }

        &__m-expand-menu {
            display: none;
        }
    }

    .main-content {

        &__header {
            min-height: 350px;

            &__inner {
                max-width: 65%;
                grid-template-columns: 250px 1fr;

                img {
                    margin-bottom: -50px;
                    max-width: unset;
                }
            }
        }
    }

    .recipes-list {
        &__title {}

        &__list {
            grid-template-columns: repeat(3, 1fr);
        }

        .recipes-list__single-container {
            &:hover .recipes-list__single {
                transform: translate(-15px, -15px);
                box-shadow: 15px 15px 0 0 var(--shadow-color);

                .recipes-list__single__share {
                    top: -2px;
                }

                .recipes-list__single__img {
                    filter: none;
                }
            }
        }

        &__single {
            &__share {
                padding: 5px 0;
                left: -2px;
                top: -80px;
                width: 30px;
                flex-direction: column;

                i {
                    font-size: 18px;
                }
            }
        }
    }
}

//lg
@media (min-width: 1024px) {
    .recipes-list {

        &__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

.spinner {
    .spinner-item {
        --animation-duration: 1150ms;
        --item-size: calc(75px / 4);
        background-color: var(--main-color);
        width: var(--item-size);
        height: var(--item-size);
        display: inline-block;
        margin: 0 3px;
        border-radius: 50%;
        border: var(--border-width) solid var(--border-color);
        animation: spinner4 var(--animation-duration) ease-in-out infinite;

        @for $i from 1 through 3 {
            &:nth-child(3n + #{$i}) {
                animation-delay: calc(var(--animation-duration) / 10 * (-1 * #{$i}));
            }
        }
    }

    margin: 20px 0;

    @keyframes spinner4 {

        0%,
        100% {
            transform: translateY(15px);
        }

        50% {
            transform: translateY(-15px);
        }
    }


}

@keyframes shine {
    to {
        background-position-x: -200%;
    }
}

@keyframes ellipsis {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}

@keyframes floating {
    0% {
        transform: translatey(0px);
    }

    50% {
        transform: translatey(-10px);
    }

    100% {
        transform: translatey(0px);
    }
}