@import "../../themeStyles/main";

.spinner {
    .spinner-item {
        $animation-duration: 1150ms;
        $item-size: calc(75px / 4);
        background-color: var(--main-color);
        width: $item-size;
        height: $item-size;
        display: inline-block;
        margin: 0 3px;
        border-radius: 50%;
        animation: spinner $animation-duration ease-in-out infinite;

        @for $i from 1 through 3 {
            &:nth-child(3n + #{$i}) {
                animation-delay: calc($animation-duration / 10 * (-1 * #{$i}));
            }
        }
    }

    margin: 20px 0;
}

@keyframes spinner {

    0%,
    100% {
        transform: translateY(15px);
    }

    50% {
        transform: translateY(-15px);
    }
}