@import "../../themeStyles/main";

.recipes-list {
    position: relative;

    &__title-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: var(--space-md);
    }

    &__title-arrow {
        font-size: 1.5rem;
    }

    &__list {
        display: grid;
        gap: var(--space-sm);
    }

    @include media(">=tablet","<desktop") {
        &__list {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @include media(">=desktop") {
        &__list {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}