@import "../../themeStyles/main";

.search-bar__wrapper {
    display: flex;
    transition: .3s;
    border-radius: 25px;
    overflow: hidden;

    @include media(">=desktop") {

        &:focus-within,
        &.active {
            box-shadow: 0 10px 25px 0 var(--shadow-color);
            transform: translate(0, -10px);
            border-color: var(--border-color);
            background: var(--white);

            .search__bar__icon {
                color: var(--border-color);
            }
        }
    }

    &+div {
        margin-top: var(--space-lg);
    }
}

.search-bar {
    flex: 1;
    height: 50px;
    display: flex;
    transition: .3s;
    position: relative;
    flex-flow: row wrap;
    align-items: center;
    gap: var(--space-md);
    padding: 0 var(--space-md);
    justify-content: flex-start;
    background-color: var(--white);

    &__input {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        pointer-events: none;
        color: var(--border-color);
        font-size: 24px;
        transition: .3s;
    }
}