@import "../../themeStyles/main";

.search-bar__wrapper {
    display: flex;
    transition: .3s;
    border-radius: 25px;
    overflow: hidden;
    background: var(--white);
    border: 1px solid var(--border-color);

    @include media(">=desktop") {

        &:focus-within,
        &.active {
            box-shadow: 0 10px 25px 0 var(--shadow-color);
            transform: translate(0, -10px);


            .search-bar {
                &__icon {
                    color: var(--main-color);
                }

                &__search-btn {
                    border-radius: 25px;
                    border-color: transparent;
                    pointer-events: unset;

                    &:hover {
                        background-color: var(--main-color);
                        color: var(--white);
                    }
                }
            }
        }
    }

    &+div {
        margin-top: var(--space-lg);
    }
}

.search-bar {
    flex: 1;
    height: 50px;
    display: flex;
    transition: .3s;
    position: relative;
    flex-flow: row wrap;
    align-items: center;
    padding: 0 8px 0 var(--space-md);
    justify-content: flex-start;
    background-color: var(--white);
    gap: var(--space-md);

    &__input {
        flex: 1;
        height: 100%;
        border: none;
        outline: none;
        font-size: 14px;
        background-color: transparent;

        &:focus {
            outline: none;
        }
    }

    &__icon {
        pointer-events: none;
        color: var(--border-color);
        font-size: 24px;
        transition: .3s;
    }

    &__search-btn {
        background-color: transparent;
        color: var(--body-text-color);
        border-left: 1px solid #e9ecef;
        border-radius: 0;
        transition: all 1s, background .3s, color .3s;

        &:hover {
            background-color: transparent;
            color: var(--main-color);
        }
    }
}