@import "../../ThemeStyles/main";

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: #fff;
    justify-content: space-between;
    gap: 20px;
    padding: var(--padding-lg);
    border-bottom: var(--border-width) solid var(--border-color);
    height: 60px;

    &__m-expand-menu {
        display: block;
        width: 25px;
    }

    &__links-container {
        position: fixed;
        margin-left: 100vw;
        inset: 0 0 0 30%;
        gap: 4px;
        display: grid;
        transition: .25s;
        &.open {
            margin: 0;
        }
    }

    &__links {
        gap: var(--padding-sm);
        background: #fff;
        border-left: var(--border-width) solid var(--border-color);
        padding: 20px;
        height: 100vh;
    }

    &__links__overlay {
        transition: .25s background-color;
        position: fixed;
        inset: 0;
        z-index: -1;
        margin: 100vw;
    }

    .open &__links__overlay {
        background-color: rgba(0, 0, 0, .25);
        margin: 0;
    }

    @include media(">=tablet") {
        justify-content: flex-start;

        &__links-container {
            display: flex;
            position: relative;
            inset: unset;
            gap: var(--padding-sm);
            margin: 0;
        }

        &__links {
            display: flex;
            border: none;
            padding: 0;
            height: unset;
        }

        &__m-expand-menu {
            display: none;
        }
    }
}