@import "../../themeStyles/main";

.navbar {
    display: flex;
    position: sticky;
    top: 0;
    z-index: 9;
    background-color: var(--white);
    justify-content: space-between;
    gap: 20px;
    padding: var(--padding-lg);
    border-bottom: 1px solid var(--border-color);
    height: var(--navbar-height);

    &__m-expand-menu {
        display: block;
        width: 25px;
    }

    &__links-container {
        position: fixed;
        margin-left: 100vw;
        inset: 0 0 0 30%;
        gap: 4px;
        display: grid;
        transition: .25s;

        &.open {
            margin: 0;
        }
    }

    &__links {
        gap: var(--padding-sm);
        background: var(--white);
        border-left: 1px solid var(--border-color);
        padding: 20px;
        height: 100vh;
    }

    &__link {
        display: block;

        &.active {
            text-decoration: underline wavy var(--secondary-color);
        }

        @include media("<tablet") {
            padding: 10px;
            border-radius: var(--radius-md);

            &.active {
                background-color: var(--active-nav-link);
                text-decoration: none;
                padding: 10px 25px;
            }
        }
    }

    &__links__overlay {
        transition: .25s background-color;
        position: fixed;
        inset: 0;
        z-index: -1;
        margin: 100vw;
    }

    .open &__links__overlay {
        background-color: rgba(0, 0, 0, .25);
        margin: 0;
    }

    @include media(">=tablet") {
        justify-content: flex-start;

        &__links-container {
            display: flex;
            position: relative;
            inset: unset;
            gap: var(--padding-sm);
            margin: 0;
        }

        &__links {
            display: flex;
            border: none;
            padding: 0;
            height: unset;
        }

        &__m-expand-menu {
            display: none;
        }
    }
}