@import "../../themeStyles/main";

.single-ingredient-item {
    display: flex;
    box-sizing: content-box;
    border: 1px solid var(--border-color);
    border-radius: 6px;
    overflow: hidden;

    &__info-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0 var(--space-md);
        flex: 1;
    }

    &__title {
        color: var(--heading-text-color);
        text-transform: capitalize;
        font-size: .95rem;
    }

    &__amount {
        font-size: 14px;
    }

    &__img {
        width: 75px;
        height: 75px;
        object-fit: contain;
        background-color: var(--white);
        padding: 10px;
        border-right: 1px solid var(--shadow-color);
    }
}