@import "../../themeStyles/main";

.results-error {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    border-radius: var(--radius-lg);
    place-content: center;
    position: relative;
    align-items: center;
    overflow: hidden;
    gap: 10px;
    background: var(--danger-shadow-color);

    @include media(">=tablet") {
        max-height: 200px;
    }

    &__code {
        color: var(--white);
        font-size: 32px;
        position: absolute;
        top: var(--space-md);
        right: var(--space-md);
        text-shadow: 2px 2px var(--danger-dark-color);
        background-color: rgba(0, 0, 0, 0.1);
        padding: 3px 12px;
        border-radius: 25px;
    }

    &__img {
        @include media(">tablet") {
            width: 375px;
            margin-right: -25px;
        }


    }

    &__title,
    &__message {
        color: var(--danger-color);
    }

    &__message-wrapper {
        flex: 1;
        padding: 50px;
    }

    @include media(">=tablet") {
        flex-direction: row;

        &__img-wrapper {
            width: 30%;
        }
    }
}